.main-title{
  font-size: 25px;
}

.item{
  margin-bottom: 15px;
}


.item .content .title{
  margin: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

.item .content .title a{
  color: inherit;
  text-decoration: none;
}

.item .content .description{
  color: grey;
  margin-bottom: 5px;
}

.item .content a.more{
  color: grey;
  text-decoration: none;
  font-size: 13px;
}




@media (max-width: 768px){
  .main-title{
    text-align: center;
  }

  .item .col-xs-12{
    text-align: center;
  }
}
