{% extends 'partials/base.html.twig' %}

{% block stylesheets %}
  {% do assets.addCss('theme://css/index.css') %}
{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			xxx
		</div>
	</div>
</div>

{% endblock %}
