{% extends 'partials/base.html.twig' %}

{% block stylesheets %}
  {% do assets.addCss('theme://css/index.css') %}
{% endblock %}

{% block body %}
<section class="container">
  <div class="row">
    {% for page in pages.children.visible %}
        {% if page.active != 1 %}
        <div class="col-md-3 col-sm-4 col-xs-6">
          <a href="{{ page.url }}" class="category">
              {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
              {{ page.menu }}
          </a>
        </div>
        {% endif %}
    {% endfor %}
  </div>
</section>
{% endblock %}
