{% extends 'partials/base.html.twig' %}

{% block stylesheets %}
  {% do assets.addCss('theme://css/index.css') %}
{% endblock %}

{% block body %}
<section class="container home">
  <h2>{{ header.title }}</h2>
  {% include "forms/form.html.twig" %}
</section>
{% endblock %}
