{% extends 'partials/base.html.twig' %}

{% block stylesheets %}
  {% do assets.addCss('theme://css/index.css') %}
{% endblock %}

{% block body %}
<div class="block-title">
  <div class="container">
    <h2 class="main-title">{{ header.title }}</h2>
  </div>
</div>

<section class="container home">
  {% include "forms/form.html.twig" %}
</section>
{% endblock %}
